{{!--
{{#segmented-buttons selectedValue=viewState
                     valueSelected=(action "changeViewState")
                     class="display-view-toggle"
                     as |s|}}
  {{#s.button value="Events"}}Events{{/s.button}}
  {{#s.button value="Map"}}Map{{/s.button}}
{{/segmented-buttons}}
--}}

<div class="display-view">
  <div class="display-view-list-section">
    {{#each sortedEvents as |event|}}
      <div class="event-display {{if (eq highlightedEvent.id event.id) "event-display--active"}}" {{action "highlightEvent" event}}>
        <div class="event-display-content">
          <div class="event-display-category">
            {{event.category}} &ndash; {{moment-format event.createdAt}}
          </div>

          <div class="event-display-venue-name">
            {{event.displayText}}
          </div>

          <div class="event-display-meta flex-group">
            {{#if event.cost}}
              <div class="flex-element">
                ${{event.cost}}
              </div>
            {{/if}}

            {{#if event.weather.temp_F}}
              <div class="flex-element">
                {{event.weather.temp_F}}F&#176;
              </div>
            {{/if}}

            {{#if event.weather.weatherCode}}
              <div class="flex-element">
                <img class="event-display-weather-icon" src={{event.iconPath}}>
              </div>
            {{/if}}

            {{#if event.weather.weatherDesc}}
              <div class="flex-element">
                {{#each event.weather.weatherDesc as |desc|}}
                  {{desc.value}}
                {{/each}}
              </div>
            {{/if}}
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  width: {{window.width}}<br>
  height: {{window.height}}
  {{!-- {{partial "index/map"}} --}}
</div>
