<div class="screen-view events-edit-screen">
  <div class="title-bar">
    <span class="title-bar-button" {{action "cancel"}}>
      Cancel
    </span>
    <div class="title-bar-text">New Trip</div>
    <span class="title-bar-button title-bar-button--default" {{action "save"}}>
      Save
    </span>
  </div>

  <div class="scroll-view below-title-bar">
    <div style="padding: 0 20px;">
      {{#if save.isRunning}}
        {{loading-spinner}}
      {{/if}}

      <h1 class="section-title">Name</h1>
      {{input value=model.name class="model-field" key-up="nameChanged"}}

      <h1 class="section-title">Short Name</h1>
      {{input value=model.shortName class="model-field"}}

      <h1 class="section-title">Start Date</h1>
      {{ember-flatpickr altInput=true
                        altFormat="Y-m-d"
                        dateFormat="Y-m-d"
                        onChangeAction="changeStartDate"
                        value=model.startDate
                        class="model-field"}}

      <h1 class="section-title">End Date</h1>
      {{ember-flatpickr altInput=true
                        altFormat="Y-m-d"
                        dateFormat="Y-m-d"
                        onChangeAction="changeEndDate"
                        value=model.endDate
                        class="model-field"}}

      <br><br>
      <label>
        {{input type="checkbox" checked=model.commentsDisabled}}
        Disable Comments
      </label>
    </div>
  </div>
</div>
