<div class="screen-view">
  {{#load-venue-list latitude=latitude
                     longitude=longitude
                     success=(action "venuesLoaded")
                     as |fetch search|}}
    {{#if fetch.isRunning}}
      <div class="title-bar">
        <div class="title-bar-button">Cancel</div>
        <div class="title-bar-text">Loading locations...</div>
        <div></div>
      </div>
    {{/if}}

    {{#if fetch.isIdle}}
      <div class="title-bar">
        <div class="title-bar-button" {{action "close"}}>Cancel</div>
        <div class="title-bar-text">{{data.headerLocation}}</div>
      </div>

      <div class="table-view scroll-view below-title-bar animation-fade-in">
        <div class="table-view-item table-view-item--search flex-group">
          <div class="flex-element">
            {{input value="" enter=search placeholder="find a place"}}
          </div>
        </div>
        {{#each data.venues as |venue|}}
          <div class="table-view-item" {{action "selectVenue" venue}}>
            <div class="table-view-item-text-label">{{venue.name}}</div>
            <div class="table-view-item-text-label-detail">{{venue.location.distance}} ft</div>
          </div>
        {{else}}
          No locations found
        {{/each}}
      </div>
    {{/if}}
  {{/load-venue-list}}
</div>
