<div class="screen-view events-new-screen">
  <div class="title-bar">
    {{link-to "Cancel" "trips-show" trip class="title-bar-button"}}

    <div class="title-bar-text">New Event</div>

    <span class="title-bar-button title-bar-button--default" {{action "save"}}>
      Save
    </span>
  </div>

  <div class="scroll-view below-title-bar">
    <div style="padding: 0 20px;">
      {{#if save.isRunning}}
        {{loading-spinner}}
      {{/if}}

      <h1 class="section-title">Category</h1>
      {{#power-select options=categories
                      selected=model.category
                      onchange=(action "categorySelected")
                      as |c|}}
        {{c}}
      {{/power-select}}

      <h1 class="section-title">Image</h1>
      {{#file-picker accept=".jpg,.jpeg,.gif,.png"
                     fileLoaded="fileLoaded"
                     readAs="readAsFile"}}
        Upload Photo
      {{/file-picker}}

      <h1 class="section-title">Description</h1>
      {{textarea value=model.description class="model-field"}}

      <h1 class="section-title">Cost</h1>
      {{input value=model.cost class="model-field"}}

      {{#geo-location success=(action "geoLocationSuccess")}}
        <h1 class="section-title">
          Location
          <span {{action "clearGeolocation"}}>&times;</span>
        </h1>
        <dl>
          <dt>Latitude</dt>
          <dd>{{input value=model.geolocation.latitude class="model-field"}}</dd>
          <dt>Longitude</dt>
          <dd>{{input value=model.geolocation.longitude class="model-field"}}</dd>
          {{#if model.venue}}
            <dt>Name</dt>
            <dd>{{input value=model.venue.name class="model-field"}}</dd>
          {{/if}}
        </dl>

        <button {{action "showSelectVenue"}}>Select Location Name</button>

        <h1 class="section-title">
          Weather
          <span {{action "clearWeather"}}>&times;</span>
        </h1>
        {{#weather-fetch latitude=model.geolocation.latitude
                         longitude=model.geolocation.longitude
                         success=(action "weatherSuccess")
                         as |fetch|}}
          {{#if fetch.isRunning}}
            Loading weather...
          {{/if}}
          {{#if (and fetch.isIdle model.weather)}}
            <dl>
              <dt>Temperature:</dt>
              <dd>{{model.weather.temp_F}}F, feels like {{model.weather.FeelsLikeF}}F</dd>
              <dt>Windspeed:</dt> <dd>{{model.weather.windspeedMiles}}mph</dd>
              <dt>Humidity:</dt> <dd>{{model.weather.humidity}}%</dd>
              <dt>Cloud cover:</dt>
              <dd>
                {{model.weather.cloudcover}}% &ndash;
                {{#each model.weather.weatherDesc as |desc|}}
                  {{desc.value}}
                {{/each}}
              </dd>
            </dl>
          {{/if}}
        {{/weather-fetch}}
      {{else}}
        <br>
        Getting location...
      {{/geo-location}}

      <br><br>
      <label>
        {{input type="checkbox" checked=model.publish class="model-field"}}
        Publish
      </label>
      <br><br>
      <label>
        {{input type="checkbox" checked=model.commentsDisabled}}
        Disable Comments
      </label>

    </div>
  </div>

  {{#if selectVenue}}
    {{#ember-wormhole to="wormhole-target"}}
      {{select-venue close=(action "hideSelectVenue")
                     latitude=model.geolocation.latitude
                     longitude=model.geolocation.longitude
                     selectVenue=(action "selectVenue")}}
    {{/ember-wormhole}}
  {{/if}}
</div>
