<div class="screen-view events-edit-screen">
  <div class="title-bar">
    <span class="title-bar-button" {{action "cancel"}}>
      Cancel
    </span>
    <div class="title-bar-text">Edit Event</div>
    <span class="title-bar-button title-bar-button--default" {{action "save"}}>
      Save
    </span>
  </div>

  <div class="scroll-view below-title-bar">
    <div style="padding: 0 20px;">
      <h1 class="section-title">Description</h1>
      {{textarea value=model.description}}

      <br><br>
      <h1 class="section-title">Cost</h1>
      {{input value=model.cost}}

      <br><br>
      <h1 class="section-title">Category</h1>
      {{#power-select options=categories
                      selected=model.category
                      onchange=(action "categorySelected")
                      as |c|}}
        {{c}}
      {{/power-select}}

      <br>
      <h1 class="section-title">Weather</h1>
      <dl>
        <dt>Temperature:</dt>
        <dd>{{model.weather.temp_F}}F, feels like {{model.weather.FeelsLikeF}}F</dd>
        <dt>Windspeed:</dt> <dd>{{model.weather.windspeedMiles}}mph</dd>
        <dt>Humidity:</dt> <dd>{{model.weather.humidity}}%</dd>
        <dt>Cloud cover:</dt>
        <dd>
          {{model.weather.cloudcover}}% &ndash;
          {{#each model.weather.weatherDesc as |desc|}}
            {{desc.value}}
          {{/each}}
        </dd>
      </dl>

      <br><br>
      <h1 class="section-title">Location</h1>
      <dl>
        <dt>Latitude</dt>
        <dd>{{input value=model.geolocation.latitude}}</dd>
        <dt>Longitude</dt>
        <dd>{{input value=model.geolocation.longitude}}</dd>
        {{#if model.venue}}
          <dt>Location name</dt> <dd>{{input value=model.venue.name}}</dd>
        {{/if}}
      </dl>
    </div>

    <br><br><br>

    <button class="delete-button" {{action "confirmDelete"}}>Delete this Event</button>
    {{#if confirmDelete}}
      <button class="delete-button" {{action "delete"}}>Seriously, delete this Event</button>
    {{/if}}
  </div>
</div>
