<div class="title-bar">
  {{#link-to "events-new" class="title-bar-button"}}
    {{partial "svg/plus"}}
  {{/link-to}}

  <div class="title-bar-text">Events</div>
</div>

<div class="table-view scroll-view below-title-bar animation-fade-in">
  {{#each sortedEvents as |event|}}
    {{#link-to "events-edit" event.id class="table-view-item"}}
      {{event.category}}<br>

      <span class="table-view-item-status">
        {{#if event.publish}}
          published
        {{else}}
          not published
        {{/if}}
      </span>

      {{#if event.venue.name}}
        <div class="table-view-item-text-label">{{event.venue.name}}</div>
      {{/if}}

      {{#if event.cost}}
        ${{event.cost}}<br>
      {{/if}}

      {{#if event.description}}
        {{event.description}}<br>
      {{/if}}

      {{#if event.weather.temp_F}}
        {{event.weather.temp_F}}F
      {{/if}}

      {{#if event.weather.weatherDesc}}
        {{#each event.weather.weatherDesc as |desc|}}
          {{desc.value}}
        {{/each}}
      {{/if}}
    {{/link-to}}
  {{/each}}
</div>
